@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mouse+Memoirs&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital@0;1&family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lora:ital@0;1&family=Mouse+Memoirs&display=swap');
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  height: 100vh;
  background-color: #ffd2bb;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.header {
text-align: center;
}
.save-button-container{
  width: 100%;
  border-radius: 20px;
  height: 40px;
  background-color: #ff0a7c;
}
.save-button-container .save-btn{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.main-section .wrapper {
  width: 100%;
}
/* text */
.text-and-style {
  border: 1px solid #408ab4;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}
.text-and-style #fi-2 {
  width: 35px;
  height: 35px;
  border: 1px solid #408ab4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}
.text-and-style #fi-2 .bi {
  font-size: 22px;
  padding: 5px;
}
.text-and-style .text {
  margin-left: 20px;
}
.text-and-style .text span {
  font-weight: 600;
  font-size: 1rem;
}
/* image */
.image-and-logo {
  border: 1px solid #408ab4;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}
.image-and-logo #fi-1 {
  width: 35px;
  height: 35px;
  border: 1px solid #408ab4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}
.image-and-logo #fi-1 .bi {
  font-size: 22px;
  padding: 5px;
}
.image-and-logo .text {
  margin-left: 20px;
}
.image-and-logo .text span {
  font-weight: 600;
  font-size: 1rem;
}
/* color */
.colors {
  border: 1px solid #408ab4;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}
.colors #fi-3 {
  width: 35px;
  height: 35px;
  border: 1px solid #408ab4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}
.colors #fi-3 .bi {
  font-size: 22px;
  padding: 5px;
}
.colors .text {
  margin-left: 20px;
}
.colors .text span {
  font-weight: 600;
  font-size: 1rem;
}

/* events */

.after-click {
  background-color: #ffd2bb;
  display: none;
}
.after-click-text-style {
  background-color: #ffd2bb;
  display: none;
}
.text-showcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-items: center;
  color: #e4066e;
  height: 100vh;
}
.text-showcase .text-showcase-input{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 50px;
  border: 1px solid brown;
  background-color: #faf5ef;
  border-radius: 5px;
}
.text-showcase .text-showcase-input input{
  height: 75%;
  width: 80%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  
}
 .font-choose {
  height: 350px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.overflow-btn {
  width: 100%;
  height: 150px;
  background-color: #ffd2bb;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#inter-font{
  font-family: 'Oleo Script Swash Caps', cursive;
}
#mouse-font{
font-family: 'Inter', sans-serif;
}
#lora-font{
font-family: 'Lora', serif;

}
#bebas-font{
  font-family: 'Bebas Neue', cursive;
}
#permanent-font{
  font-family: 'Permanent Marker', cursive;
}
#black-ops-font{
  font-family: 'Black Ops One', cursive;
}
/* colors */
.after-click-colors {
  background-color: #ffd2bb;
  display: none;
}
.image-input-and-buttons {
  height: 100vh;
  background-color: #ffd2bb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.steps {
  font-size: 10px;
  font-weight: 300;
  color: black;
}
.image-input-and-label {
  width: 100%;
  padding: 10px;
}
.image-input {
  display: none;
}
.input-label {
  background-color: #ff0a7c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
  color: white;
}
.input-label:hover {
  background-color: #e4066e;
  cursor: pointer;
}
.input-label .bi {
  font-size: 20px;
  padding: 10px;
  width: 50px;
  font-weight: 500;
}
.input-label span {
  font-size: 12px;
  padding: 10px;
  font-weight: 500;
}
.confirm-cancel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.confirm-editing {
  border: none;
  outline: none;
  border-radius: 20px;
  width: 50%;
  height: 35px;
  padding: 5px;
  background-color: #ff0a7c;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
}
.cancel-editing {
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  width: 50%;
  height: 35px;
  padding: 5px;
  color: black;
  font-weight: 500;
  font-size: 12px;
  margin: 10px;
  background: none;
}
.cancel-editing:hover {
  background-color: lightgray;
  border: none;
}
.confirm-editing:hover {
  background-color: #e4066e;
}
.confirm-cancel-btn-text-style{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}
.confirm-editing-text-style {
  border: none;
  outline: none;
  border-radius: 20px;
  width: 50%;
  height: 35px;
  padding: 5px;
  background-color: #ff0a7c;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
}
.cancel-editing-text-style {
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  width: 50%;
  height: 35px;
  padding: 5px;
  color: black;
  font-weight: 500;
  font-size: 12px;
  margin: 10px;
  background: none;
}
.cancel-editing-text-style:hover {
  background-color: lightgray;
  border: none;
}
.confirm-editing-text-style:hover {
  background-color: #e4066e;
}

.bi-check2-square {
  display: none;
}

/* preview section */
.preview-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-image {
  overflow: hidden;
}

.input-file {
  height: 50px;
}

.close-btn {
  position: fixed;
  right: 25px;
  top: 15px;
  font-size: 30px;
  font-weight: bold;
}

::-webkit-scrollbar{
  width: .4em;
  height: .4rem;
}
::-webkit-scrollbar-track{
  background: lightgrey;
  border-radius: 100vw;
  margin-block: .5em;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#e4066e, gray);
  border-radius: 100vw;
}
/* media  */
@media screen and (max-width: 992px) {
  .header {
    display: none;
  }
  #flex {
    display: flex;
    flex-direction: column;
  }
  #a {
    order: 2;
  }
  #aa {
    order: 2;
  }
  #ab {
    order: 2;
  }
  #ac {
    order: 2;
  }
  #b {
    order: 1;
  }
  .steps {
   display: none;
  }
  .text-showcase-header{
    display: none;
  }
  .text-showcase {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
  }
  .text-showcase-input{
    margin-bottom: 7px;
  }
  .font-choose{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    height: 75px;
    width: 100%;
    gap: 5px;
    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 5px;
  }
  .overflow-btn{
    height: 100%;
    text-align: center;
  }
  .overflow-btn h2{
    font-size: 14px;
  }
  .overflow-btn h6{
    font-size: 10px;
  }
  .main-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    margin: 0;
    padding: 0 10px;
  }
  .image-input-and-buttons{
    height: 25vh;
  }
  .text-showcase{
    height: 30vh;
  }
  .preview-section {
    height: 65vh;
  }
  .main-section .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 85px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }
  /* image and logo */
  .image-and-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: none;
  }
  .image-and-logo .font-icon {
    margin: 0px;
  }
  .image-and-logo .text {
    margin-left: 0px;
  }
  .image-and-logo .text span {
    font-size: 0.6rem;
  }
  /* text and style */
  .text-and-style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: none;
  }
  .text-and-style .font-icon {
    margin: 0px;
  }
  .text-and-style .text {
    margin-left: 0px;
  }
  .text-and-style .text span {
    font-size: 0.6rem;
  }
  /* colors */
  .colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border: none;
  }
  .colors .font-icon {
    margin: 0px;
  }
  .colors .text {
    margin-left: 0px;
  }
  .colors .text span {
    font-size: 0.6rem;
  }
  .image-input-and-buttons {
    display: flex;
    justify-content: flex-start;
  }
}
